pikepdf>=8.0.0
fastapi
uvicorn
python-multipart
pdf2docx
pytest
httpx
paddlepaddle
paddleocr
opencv-python-headless
docxcompose==1.4.0
setuptools<70.0.0
PyMuPDF
reportlab
requests
pillow-heif
onnxruntime
aiofiles
